<!DOCTYPE html>
<html lang="en" data-ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gumga Layout</title>

    <!-- Bootstrap -->
    <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Gumga Layout -->
    <link rel="stylesheet" href="dist/gumga-layout.css">


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body data-ng-controller="controller">
    <div class="gumga-layout">
      <header class="gl-header">
        <div class="searchbar">
          <div class="icon back">
            <button type="button" data-ng-click="toggleSearch()">
              <i class="material-icons">arrow_back</i>
            </button>
          </div>
          <div class="query">
            <input type="text" class="form-control" placeholder="Pesquisar...">
          </div>
          <div class="icon search">
            <button type="button">
              <i class="material-icons">search</i>
            </button>
          </div>
        </div>

        <nav class="navbar">
          <div class="container-fluid">
            <div class="navbar-header">
              <gmd-hamburger></gmd-hamburger>
              <a class="navbar-brand" href="#" data-ng-click="navCollapse()">
                Gumga Studio
              </a>
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <i class="material-icons">more_vert</i>
              </button>
              <button type="button" class="navbar-toggle" data-ng-click="toggleSearch()">
                <i class="material-icons">search</i>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav organizations">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">domain</i>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <div class="form-group">
                        <input type="text" class="form-control gmd" data-ng-model="org_search" placeholder="Pesquisar...">
                        <div class="bar"></div>
                      </div>
                    </li>
                    <li data-ng-repeat="org in organizations | filter: org_search">
                      <a href="#">
                        <span data-ng-bind="org.name"></span>
                      </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                      <a href="#">
                        Gumga Gumga
                        <span class="glyphicon glyphicon-ok"></span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>

              <form class="navbar-form navbar-left search hidden-sm hidden-xs">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">
                      <i class="material-icons">search</i>
                    </span>
                    <input type="text" class="form-control" placeholder="Pesquisar...">
                  </div>
                </div>
              </form>

              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Mateus <span class="caret"></span>
                   </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Conta</a></li>
                    <li><a href="#">Trocar senha</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Sair</a></li>
                  </ul>
                </li>
              </ul>

              <ul class="nav navbar-nav navbar-right apps hidden-sm hidden-xs">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">apps</i>
                  </a>
                  <ul class="dropdown-menu">
                    <li class="apps-icons">
                      <table class="table">
                        <tr>
                          <td><a href="#"><img src="images/logo-gs.png" alt=""></a></td>
                          <td><a href="#"><img src="images/logo-gs.png" alt=""></a></td>
                          <td><a href="#"><img src="images/logo-gs.png" alt=""></a></td>
                        </tr>
                        <tr>
                          <td><a href="#"><img src="images/logo-gs.png" alt=""></a></td>
                          <td><a href="#"><img src="images/logo-gs.png" alt=""></a></td>
                          <td><a href="#"><img src="images/logo-gs.png" alt=""></a></td>
                        </tr>
                      </table>
                    </li>
                  </ul>
                </li>
              </ul>

              <gl-notification icon="email" notifications="notifications" on-view="onView(event, item)"></gl-notification>
              <gl-notification icon="notifications" notifications="notifications" on-view="onView(event, item)"></gl-notification>
              <gl-notification icon="public" notifications="notifications" on-view="onView(event, item)"></gl-notification>

            </div>
          </div>
        </nav>
      </header>

      <main>
        <div class="container-fluid content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel gmd">
                <div class="panel-heading">Typography</div>
                <div class="panel-body">
                  <h1>Typography 1</h1>
                  <h2>Typography 2</h2>
                  <h3>Typography 3</h3>
                  <h4>Typography 4</h4>
                  <h5>Typography 5</h5>
                  <h6>Typography 6</h6>
                  <p>Paragraph</p>
                  <pre>&lt;h1&gt;Typography 1&lt;/h1&gt;
&lt;h2&gt;Typography 2&lt;/h2&gt;
&lt;h3&gt;Typography 3&lt;/h3&gt;
&lt;h4&gt;Typography 4&lt;/h4&gt;
&lt;h5&gt;Typography 5&lt;/h5&gt;
&lt;h6&gt;Typography 6&lt;/h6&gt;
&lt;p&gt;Paragraph&lt;/p&gt;</pre>





                <ol class="breadcrumb gmd">
                  <li>
                    <a class="gmd-ripple">
                      <i class="material-icons">home</i> Início
                    </a>
                  </li>
                  <li>
                    <a class="gmd-ripple">
                      <i class="material-icons">shopping_cart</i>
                      Venda
                    </a>
                  </li>
                  <li class="active">
                    <a class="gmd-ripple">
                      <i class="material-icons">supervisor_account</i>
                      Produtos
                    </a>
                  </li>
                </ol>

                </div>
              </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
              <div class="panel gmd">
                <div class="panel-heading">
                  Form
                  <button ng-click="disabledSelect=!disabledSelect" class="btn btn-primary pull-right">{{disabledSelect ? 'Habilitar' : 'Desabilitar'}}</button>
                </div>
                <div class="panel-body">
                  <form name="gmdForm" gumga-form="form" novalidate>
                    <div class="row">
                      <div class="col-md-4">

                        <gmd-input>
                          <input type="text"
                                 name="example"
                                 class="form-control gmd"
                                 ng-model="example.text2"
                                 id="text"
                                 gumga-error
                                 gumga-required
                                 gumga-min-length="2"
                                 gumga-max-length="20">
                          <span class="bar"></span>
                          <label for="text" class="control-label">Nome completo</label>
                        </gmd-input>

                        Data: {{example.text}}
                      </div>
                      <div class="col-md-4">

                        <gmd-input>
                          <input type="email" class="form-control gmd" ng-model="example.email" id="email" required>
                          <span class="bar"></span>
                          <label for="email" class="control-label">Endereço de e-mail</label>
                        </gmd-input>

                        {{example.email}}
                      </div>
                      <div class="col-md-4">
                        <gmd-select ng-model="example.select" ng-disabled="disabledSelect" placeholder="Selecione">
                          <gmd-option ng-repeat="option in options" ng-value="option" ng-label="option.name">
                            {{option.name}}
                          </gmd-option>
                        </gmd-select>
                        <br>
                        <br>
                        <pre>{{example.select | json}}</pre>
                      </div>



                    </div>

                    <div class="row">
                      <div class="col-md-3">
                        <gmd-select ng-model="example.select" ng-disabled="disabledSelect" placeholder="Selecione">
                          <gmd-select-search ng-model="search" placeholder="Buscar funcionarios..."></gmd-select-search>
                          <gmd-option ng-repeat="option in options | filter: search" ng-value="option" ng-label="option.name">
                            {{option.name}}
                          </gmd-option>
                        </gmd-select>

                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-4">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" class="gmd" data-ng-model="example.check">
                            <span class="box"></span>
                            <!--<span class="ripple-effect gmd-ripple"></span>-->
                            Check me out {{example.check}}
                          </label>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="radio">
                          <label>
                            <input type="radio" ng-model="radio" name="optionsRadios" class="gmd" value="Masculino">
                            <span class="box"></span>
                            Masculino
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" ng-model="radio" name="optionsRadios" class="gmd" value="Feminino">
                            <span class="box"></span>
                            Feminino
                          </label>
                        </div>
                        {{radio}}
                      </div>
                      <div class="col-md-4">
                        {{gmdForm.select.$error}}
                      </div>
                    </div>
                  </form>
                  <pre ng-non-bindable>&lt;div class="row"&gt;
  &lt;div class="col-md-4"&gt;
    &lt;gmd-input&gt;
      &lt;input type="text" class="form-control gmd" ng-model="example.text" id="text" ng-maxlength="10" required&gt;
      &lt;span class="bar"&gt;&lt;/span&gt;
      &lt;label for="text" class="control-label"&gt;Nome completo&lt;/label&gt;
    &lt;/gmd-input&gt;
  &lt;/div&gt;
  &lt;div class="col-md-4"&gt;
    &lt;gmd-input&gt;
      &lt;input type="email" class="form-control gmd" ng-model="example.email" id="email" required&gt;
      &lt;span class="bar"&gt;&lt;/span&gt;
      &lt;label for="email" class="control-label"&gt;Endereço de e-mail&lt;/label&gt;
    &lt;/gmd-input&gt;
  &lt;/div&gt;
  &lt;div class="col-md-4"&gt;
  &lt;gmd-select ng-model="example.select" placeholder="Selecione"&gt;
    &lt;gmd-option ng-repeat="option in options" ng-value="option" ng-label="option.name"&gt;
      {{option.name}}
    &lt;/gmd-option&gt;
  &lt;/gmd-select&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;div class="row"&gt;
  &lt;div class="col-md-4"&gt;
    &lt;div class="checkbox"&gt;
      &lt;label&gt;
        &lt;input type="checkbox" class="gmd" data-ng-model="example.check"&gt;
        &lt;span class="box"&gt;&lt;/span&gt;
        Check me out
      &lt;/label&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="col-md-4"&gt;
    &lt;div class="radio"&gt;
      &lt;label&gt;
        &lt;input type="radio" name="optionsRadios" class="gmd" value="option1" checked&gt;
        &lt;span class="box"&gt;&lt;/span&gt;
        Click-me
      &lt;/label&gt;
    &lt;/div&gt;
    &lt;div class="radio"&gt;
      &lt;label&gt;
        &lt;input type="radio" name="optionsRadios" class="gmd" value="option1" checked&gt;
        &lt;span class="box"&gt;&lt;/span&gt;
        Click-me
      &lt;/label&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre>
                </div>
              </div>
            </div>

            <div class="col-md-8 col-md-offset-2">
              <div class="panel gmd">
                <div class="panel-heading">
                  Nav & Aside
                </div>
                <div class="panel-body">

                  <h5 class="page-header">
                    Alternar
                  </h5>

                  <button type="button" class="btn gmd btn-default gmd-ripple" data-ng-click="navCollapse()">Alternar Nav</button>
                  <button type="button" class="btn gmd btn-default gmd-ripple" data-ng-click="asideCollapse()">Alternar Aside</button>


                  <pre>$scope.navCollapse = function() {
  document.querySelector('.gumga-layout nav.gl-nav')
    .classList.toggle('collapsed')
}
$scope.asideCollapse = function() {
  document.querySelector('.gumga-layout aside.gl-aside')
    .classList.toggle('collapsed')
}</pre>

                  <h5 class="page-header">
                    Menu
                  </h5>

                  <h6>JS</h6>
                  <pre>$http.get('assets/data/menu.json')
  .then(function(response) {
    $scope.menu = response.data
  })
$http.get('assets/data/keys.json')
  .then(function(response) {
      $scope.keys = response.data
  })</pre>

                  <h6>HTML</h6>
                  <pre>&lt;gl-menu menu="menu" keys="keys" icon-first-level="glyphicon glyphicon-home" text-first-level="Voltar ao primeiro nível"&gt;&lt;/gl-menu&gt;</pre>

                  <h6>JSON keys</h6>
                  <pre>[
  "CRUD-BASE",
  "CRUD-ADMIN",
  "CRUD-USER"
]</pre>
                  <h6>JSON menu</h6>
                  <pre>[
  {
    "type": "header",
    "label": "Home"
  },
  {
    "type": "item",
    "label": "Home",
    "state": "welcome",
    "icon": "home",
    "key": "CRUD-BASE"
  },
  {
    "type": "item",
    "label": "Usuários",
    "state": "user",
    "icon": "group",
    "children": [
      {
        "type": "item",
        "label": "Criar novo",
        "state": "user.new",
        "icon": "add",
        "key": "CRUD-USER"
      },
      {
        "type": "item",
        "label": "Editar",
        "state": "user.edit",
        "icon": "edit",
        "key": "CRUD-ADMIN"
      }
    ]
  },
  {
    "type": "item",
    "label": "Produtos",
    "state": "welcome",
    "key": "CRUD-ADMIN"
  },
  {
    "type": "separator"
  },
  {
    "type": "header",
    "label": "Produtos"
  },
  {
    "label": "Últimos cadastrados",
    "state": "welcome",
    "key": "CRUD-ADMIN"
  }
]
</pre>

                </div>
              </div>
            </div>

            <div class="col-md-8 col-md-offset-2">
              <div class="panel gmd">
                <div class="panel-heading">
                  Buttons
                </div>
                <div class="panel-body">
                  <div>
                    <h5>
                      Normal
                    </h5>

                    <button type="button" class="btn gmd btn-primary gmd-ripple">Primary</button>
                    <button type="button" class="btn gmd btn-default gmd-ripple">Default</button>
                    <button type="button" class="btn gmd btn-success gmd-ripple">Success</button>
                    <button type="button" class="btn gmd btn-info gmd-ripple">Info</button>
                    <button type="button" class="btn gmd btn-warning gmd-ripple">Warning</button>
                    <button type="button" class="btn gmd btn-danger gmd-ripple">Danger</button>
                    <button type="button" class="btn gmd btn-link gmd-ripple">Link</button>
                    <pre>&lt;button type="button" class="btn gmd btn-default"&gt;Default&lt;/button&gt;
&lt;button type="button" class="btn gmd btn-primary"&gt;Primary&lt;/button&gt;
&lt;button type="button" class="btn gmd btn-success"&gt;Success&lt;/button&gt;
&lt;button type="button" class="btn gmd btn-info"&gt;Info&lt;/button&gt;
&lt;button type="button" class="btn gmd btn-warning"&gt;Warning&lt;/button&gt;
&lt;button type="button" class="btn gmd btn-danger"&gt;Danger&lt;/button&gt;
&lt;button type="button" class="btn gmd btn-link"&gt;Link&lt;/button&gt;</pre>
                  </div>

                  <div>
                    <h5>
                      Raised
                    </h5>

                    <button type="button" class="btn gmd raised btn-primary gmd-ripple gmd-ripple-light">Primary</button>
                    <button type="button" class="btn gmd raised btn-default gmd-ripple gmd-ripple-light">Default</button>
                    <button type="button" class="btn gmd raised btn-success gmd-ripple gmd-ripple-light">Success</button>
                    <button type="button" class="btn gmd raised btn-info gmd-ripple gmd-ripple-light">Info</button>
                    <button type="button" class="btn gmd raised btn-warning gmd-ripple gmd-ripple-light">Warning</button>
                    <button type="button" class="btn gmd raised btn-danger gmd-ripple gmd-ripple-light">Danger</button>
                    <pre>&lt;button type="button" class="btn gmd raised btn-default"&gt;Default&lt;/button&gt;
&lt;button type="button" class="btn gmd raised btn-primary"&gt;Primary&lt;/button&gt;
&lt;button type="button" class="btn gmd raised btn-success"&gt;Success&lt;/button&gt;
&lt;button type="button" class="btn gmd raised btn-info"&gt;Info&lt;/button&gt;
&lt;button type="button" class="btn gmd raised btn-warning"&gt;Warning&lt;/button&gt;
&lt;button type="button" class="btn gmd raised btn-danger"&gt;Danger&lt;/button&gt;</pre>
                  </div>

                  <div>
                    <h6>
                      Disabled
                    </h6>

                    <button type="button" class="btn gmd btn-default" disabled="disabled">Default</button>
                    <button type="button" class="btn gmd btn-primary" disabled="disabled">Primary</button>
                    <button type="button" class="btn gmd btn-success" disabled="disabled">Success</button>
                    <button type="button" class="btn gmd btn-info" disabled="disabled">Info</button>
                    <button type="button" class="btn gmd btn-warning" disabled="disabled">Warning</button>
                    <button type="button" class="btn gmd btn-danger" disabled="disabled">Danger</button>
                    <button type="button" class="btn gmd btn-link" disabled="disabled">Link</button>
                    <pre>&lt;button type="button" class="btn gmd btn-default" disabled="disabled"&gt;Default&lt;/button&gt;
&lt;button type="button" class="btn gmd btn-primary" disabled="disabled"&gt;Primary&lt;/button&gt;
&lt;button type="button" class="btn gmd btn-success" disabled="disabled"&gt;Success&lt;/button&gt;
&lt;button type="button" class="btn gmd btn-info" disabled="disabled"&gt;Info&lt;/button&gt;
&lt;button type="button" class="btn gmd btn-warning" disabled="disabled"&gt;Warning&lt;/button&gt;
&lt;button type="button" class="btn gmd btn-danger" disabled="disabled"&gt;Danger&lt;/button&gt;
&lt;button type="button" class="btn gmd btn-link" disabled="disabled"&gt;Link&lt;/button&gt;</pre>
                  </div>

                  <div>
                    <h6>
                      Float Action Button
                    </h6>

                    <button type="button" class="btn gmd fab btn-primary">
                      <i class="material-icons">add</i>
                    </button>
                    <button type="button" class="btn gmd fab btn-success">
                      <i class="material-icons">add</i>
                    </button>
                    <button type="button" class="btn gmd fab btn-info">
                      <i class="material-icons">add</i>
                    </button>
                    <button type="button" class="btn gmd fab btn-warning">
                      <i class="material-icons">add</i>
                    </button>
                    <button type="button" class="btn gmd fab btn-danger">
                      <i class="material-icons">add</i>
                    </button>


                    <button type="button" class="btn btn-success" ng-click="openFab = !openFab">
                      Teste {{openFab}}
                    </button>

                    <gmd-fab force-click="false" fixed opened="openFab">
                      <button ng-if="!openFab" class="btn-warning gmd-ripple">
                        <span class="material-icons">add</span>
                      </button>
                      <button ng-if="openFab" class="btn-warning gmd-ripple">
                        <span class="material-icons">delete</span>
                      </button>
                      <ul left>
                        <li class="btn-danger">
                          <span>Tags</span>
                          <i class="material-icons gmd-ripple">loyalty</i>
                        </li>
                        <li class="btn-primary">
                          <span>Mensagens</span>
                          <i class="material-icons gmd-ripple">drafts</i>
                        </li>
                      </ul>
                      <ul >
                        <li class="btn-danger">
                          <span>Tags</span>
                          <i class="material-icons gmd-ripple">loyalty</i>
                        </li>
                        <li class="btn-primary">
                          <span>Reconhecimento Facial</span>
                          <i class="material-icons gmd-ripple">drafts</i>
                        </li>
                      </ul>
                    </gmd-fab>


                    <pre>&lt;button type="button" class="btn gmd fab btn-primary"&gt;
    &lt;i class="material-icons"&gt;add&lt;/i&gt;
  &lt;/button&gt;
  &lt;button type="button" class="btn gmd fab btn-success"&gt;
    &lt;i class="material-icons"&gt;add&lt;/i&gt;
  &lt;/button&gt;
  &lt;button type="button" class="btn gmd fab btn-info"&gt;
    &lt;i class="material-icons"&gt;add&lt;/i&gt;
  &lt;/button&gt;
  &lt;button type="button" class="btn gmd fab btn-warning"&gt;
    &lt;i class="material-icons"&gt;add&lt;/i&gt;
  &lt;/button&gt;
  &lt;button type="button" class="btn gmd fab btn-danger"&gt;
    &lt;i class="material-icons"&gt;add&lt;/i&gt;
  &lt;/button&gt;
  &lt;button type="button" class="btn btn-success gmd fab fixed"&gt;
    &lt;i class="material-icons"&gt;add&lt;/i&gt;
  &lt;/button&gt;</pre>
                  </div>
                  <h6>Raised Checkbox</h6>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="btn-group">
                        <label class="btn gmd raised btn-default" ng-model="radioModel" uib-btn-radio="'Left'" uncheckable>Left</label>
                        <label class="btn gmd raised btn-default" ng-model="radioModel" uib-btn-radio="'Middle'" uncheckable>Middle</label>
                        <label class="btn gmd raised btn-default" ng-model="radioModel" uib-btn-radio="'Right'" uib-uncheckable="uncheckable">Right</label>
                      </div>
                    </div>
                  </div>
                  <pre>
  &lt;/div class="btn-group"&gt;
    &lt;/label class="btn gmd raised btn-default"
                    ng-model="radioModel"
                    uib-btn-radio="'Left'" uncheckable&gt;Left&lt;/label&gt;
    &lt;/label class="btn gmd raised btn-default"
                    ng-model="radioModel"
                    uib-btn-radio="'Middle'" uncheckable&gt;Middle&lt;/label&gt;
    &lt;/label class="btn gmd raised btn-default"
                    ng-model="radioModel"
                    uib-btn-radio="'Right'" uib-uncheckable="uncheckable"&gt;Right&lt;/label&gt;
  &lt;/div&gt;
                  </pre>

                  <h6>Raised Radio & Uncheckable Radio
                  </h6>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="btn-group">
                        <label class="btn gmd raised btn-primary" ng-model="checkModel.left" uib-btn-checkbox>Left</label>
                        <label class="btn gmd raised btn-primary" ng-model="checkModel.middle" uib-btn-checkbox>Middle</label>
                        <label class="btn gmd raised btn-primary" ng-model="checkModel.right" uib-btn-checkbox>Right</label>
                      </div>
                    </div>
                  </div>
                  <pre>
  &lt;div class="btn-group"&gt;
    &lt;label class="btn gmd raised btn-primary" ng-model="checkModel.left" uib-btn-checkbox&gt;Left&lt;/label&gt;
    &lt;label class="btn gmd raised btn-primary" ng-model="checkModel.middle" uib-btn-checkbox&gt;Middle&lt;/label&gt;
    &lt;label class="btn gmd raised btn-primary" ng-model="checkModel.right" uib-btn-checkbox&gt;Right&lt;/label&gt;
  &lt;/div&gt;
                  </pre>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel gmd">
                <div class="panel-heading">
                  Tabs
                </div>
                <div class="panel-body">
                  <ul class="nav nav-tabs gmd" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
                  </ul>
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home"><h2>Home content</h2></div>
                    <div role="tabpanel" class="tab-pane" id="profile"><h2>Profile content</h2></div>
                    <div role="tabpanel" class="tab-pane" id="messages"><h2>Message content</h2></div>
                    <div role="tabpanel" class="tab-pane" id="settings"><h2>Settings</h2></div>
                  </div>

                  <pre>&lt;ul class="nav nav-tabs gmd" role="tablist"&gt;
    &lt;li role="presentation" class="active"&gt;&lt;a href="#home" aria-controls="home" role="tab" data-toggle="tab"&gt;Home&lt;/a&gt;&lt;/li&gt;
    &lt;li role="presentation"&gt;&lt;a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"&gt;Profile&lt;/a&gt;&lt;/li&gt;
    &lt;li role="presentation"&gt;&lt;a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"&gt;Messages&lt;/a&gt;&lt;/li&gt;
    &lt;li role="presentation"&gt;&lt;a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"&gt;Settings&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
  &lt;div class="tab-content"&gt;
    &lt;div role="tabpanel" class="tab-pane active" id="home"&gt;&lt;h2&gt;Home content&lt;/h2&gt;&lt;/div&gt;
    &lt;div role="tabpanel" class="tab-pane" id="profile"&gt;&lt;h2&gt;Profile content&lt;/h2&gt;&lt;/div&gt;
    &lt;div role="tabpanel" class="tab-pane" id="messages"&gt;&lt;h2&gt;Message content&lt;/h2&gt;&lt;/div&gt;
    &lt;div role="tabpanel" class="tab-pane" id="settings"&gt;&lt;h2&gt;Settings&lt;/h2&gt;&lt;/div&gt;
  &lt;/div&gt;</pre>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel gmd">
                <div class="panel-heading">
                  Pills
                </div>
                <div class="panel-body">
                  <ul class="nav gmd nav-pills">
                    <li role="presentation" class="active"><a>Home</a></li>
                    <li role="presentation"><a>Profile</a></li>
                    <li role="presentation"><a>Messages</a></li>
                  </ul>

                  <pre>&lt;ul class="nav gmd nav-pills"&gt;
    &lt;li role="presentation" class="active"&gt;&lt;a&gt;Home&lt;/a&gt;&lt;/li&gt;
    &lt;li role="presentation"&gt;&lt;a&gt;Profile&lt;/a&gt;&lt;/li&gt;
    &lt;li role="presentation"&gt;&lt;a&gt;Messages&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;</pre>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel gmd">
                <div class="panel-heading">Badge</div>
                <div class="panel-body">
                  <button class="btn btn-primary" badge="4" type="button">
                    Messages
                  </button>
                  <button class="btn btn-primary gmd" badge="6" type="button">
                    Messages
                  </button>
                  <!--<a href="#" badge="10">Inbox</a>-->
                  <a href="#" badge="1">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                  <a href="#" badge="1">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                  <pre>&lt;button class="btn btn-primary" badge="4" type="button"&gt; Messages &lt;/button&gt;
  &lt;button class="btn btn-primary gmd" badge="6" type="button"&gt; Messages &lt;/button&gt;
  &lt;a href="#" badge="10"&gt;Inbox&lt;/a&gt;</pre>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel gmd">
                <div class="panel-heading">Dropdown</div>
                <div class="panel-body">

                  <div class="dropdown gmd">
                    <button class="btn btn-default gmd dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Dropdown
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li class="dropdown-header">Dropdown header</li>
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>

                  <pre>&lt;div class="dropdown gmd"&gt;
    &lt;button class="btn btn-default gmd dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"&gt;
      Dropdown
      &lt;span class="caret"&gt;&lt;/span&gt;
    &lt;/button&gt;
    &lt;ul class="dropdown-menu" aria-labelledby="dropdownMenu1"&gt;
      &lt;li class="dropdown-header"&gt;Dropdown header&lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;Action&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;Another action&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;Something else here&lt;/a&gt;&lt;/li&gt;
      &lt;li role="separator" class="divider"&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href="#"&gt;Separated link&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;</pre>

                  <div class="dropup gmd">
                    <button class="btn btn-default gmd dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropup
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel gmd">
                <div class="panel-heading">Card</div>
                <div class="panel-body">
                  <div class="panel gmd">
                    <div class="panel-heading">
                      Card Title
                    </div>
                    <div class="panel-body">
                      <p>Texto</p>
                    </div>
                    <div class="panel-footer">
                      <button type="button" class="btn gmd btn-default">Cancelar</button>
                      <button type="button" class="btn gmd btn-success">Concordo</button>
                    </div>
                  </div>
                  <pre>&lt;div class="panel gmd"&gt;
    &lt;div class="panel-heading"&gt;
      Card Title
    &lt;/div&gt;
    &lt;div class="panel-body"&gt;
      &lt;p&gt;Texto&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="panel-footer"&gt;
      &lt;button type="button" class="btn gmd btn-default"&gt;Cancelar&lt;/button&gt;
      &lt;button type="button" class="btn gmd btn-success"&gt;Concordo&lt;/button&gt;
    &lt;/div&gt;
  &lt;/div&gt;</pre>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel gmd">
                <div class="panel-heading">Progress</div>
                <div class="panel-body">
                  <div class="progress gmd">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                      <span class="sr-only">60% Complete</span>
                    </div>
                  </div>
                  <div class="progress gmd">
                    <div class="indeterminate" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                      <span class="sr-only">60% Complete</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel gmd">
                <div class="panel-heading">Pagination</div>
                <div class="panel-body">

                  <ul class="pagination gmd">
                    <li>
                      <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                      <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel gmd">
                <div class="panel-heading">Spinner</div>
                <div class="panel-body">

                  <div class="row">
                    <div class="col-md-2">
                      <label>
                        Com box
                      </label> <br>
                      <gmd-spinner diameter="80px" box="true"></gmd-spinner>
                    </div>
                    <div class="col-md-4">
                      <label>
                        Sem box
                      </label> <br>
                      <gmd-spinner diameter="80px" box="false"></gmd-spinner>
                    </div>
                  </div>

                  <!-- <gmd-spinner fixed box="true"></gmd-spinner> -->

                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel gmd">
                <div class="panel-heading">Alert</div>
                <div class="panel-body">
                  <div class="alert gmd alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Sucesso!</strong> Você leu este alerta com êxito.
                    <a class="action" href="#">Desfazer</a>
                  </div>
                  <div class="alert gmd alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Atenção!</strong> Esse alerta precisa de sua atenção, mas não é super importante.
                    <a class="action" href="#">Desfazer</a>
                  </div>
                  <div class="alert gmd alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Atenção!</strong> Melhor verificar, você não está vendo muito bem.
                    <a class="action" href="#">Desfazer</a>
                  </div>
                  <div class="alert gmd alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Falhou!</strong> Mude alguma coisa e tente novamente.
                    <a class="action" href="#">Desfazer</a>
                  </div>
                  <pre>&lt;div class="alert gmd alert-success alert-dismissible" role="alert"&gt;
    &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;&lt;span aria-hidden="true"&gt;&times;&lt;/span&gt;&lt;/button&gt;
    &lt;strong&gt;Warning!&lt;/strong&gt; Better check yourself, you're not looking too good.
    &lt;a class="action" href="#"&gt;Desfazer&lt;/a&gt;
  &lt;/div&gt;
  &lt;div class="alert gmd alert-info alert-dismissible" role="alert"&gt;
    &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;&lt;span aria-hidden="true"&gt;&times;&lt;/span&gt;&lt;/button&gt;
    &lt;strong&gt;Warning!&lt;/strong&gt; Better check yourself, you're not looking too good.
    &lt;a class="action" href="#"&gt;Desfazer&lt;/a&gt;
  &lt;/div&gt;
  &lt;div class="alert gmd alert-warning alert-dismissible" role="alert"&gt;
    &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;&lt;span aria-hidden="true"&gt;&times;&lt;/span&gt;&lt;/button&gt;
    &lt;strong&gt;Warning!&lt;/strong&gt; Better check yourself, you're not looking too good.
    &lt;a class="action" href="#"&gt;Desfazer&lt;/a&gt;
  &lt;/div&gt;
  &lt;div class="alert gmd alert-danger alert-dismissible" role="alert"&gt;
    &lt;button type="button" class="close" data-dismiss="alert" aria-label="Close"&gt;&lt;span aria-hidden="true"&gt;&times;&lt;/span&gt;&lt;/button&gt;
    &lt;strong&gt;Warning!&lt;/strong&gt; Better check yourself, you're not looking too good.
    &lt;a class="action" href="#"&gt;Desfazer&lt;/a&gt;
  &lt;/div&gt;</pre>
                </div>
              </div>
            </div>
          </div>

        </div>

      </main>
      <nav class="gl-nav collapsed">
        <div class="navbar-header">
          <!-- <a class="navbar-brand" href="#" data-ng-click="navCollapse()">
            <i class="material-icons">menu</i>
          </a> -->
          <a class="navbar-brand" href="#" data-ng-click="navCollapse()">
            <!-- Menu -->
          </a>
        </div>
        <header>
          <figure>
            <img src="images/logo-gumga-studio.png" alt="">
          </figure>
        </header>
        <!--<input type="text" ng-model="menuSearch" class="form-control gmd" placeholder="Busca...">
        <div class="bar"></div>-->
        <gl-menu menu="menu" keys="keys" fixed="false" icon-first-level="glyphicon glyphicon-home" show-button-first-level="false" text-first-level="Voltar ao primeiro nível"></gl-menu>
      </nav>

      <aside class="gl-aside">
        <h3>Aside</h3>
        <h3>Aside</h3>
        <h3>Aside</h3>
        <h3>Aside</h3>
        <h3>Aside</h3>
        <h3>Aside</h3>
      </aside>

      <!-- <footer class="gl-footer fixed">
        <p>Gumga Layout <a href="#">footer</a></p>
      </footer> -->

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- <script src="gumga-layout/gumga-layout.min.js"></script> -->
    <script src="dist/gumga-layout.js"></script>

    <script src="assets/js/controller.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="node_modules/gumga-form-ng/dist/gumga-form.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="node_modules/gumga-mask-ng/dist/gumga-mask.min.js"></script>
  </body>
</html>
