.btn.gmd
  text-transform: uppercase
  font-weight: 600
  border: 0
  border-radius: 3px
  transition: all 120ms ease-out
  
.btn.gmd.btn-primary
  color: #337ab7
  background-color: #fff
  &:hover
    color: #fff
    background-color: #337ab7

.btn.gmd.btn-info
  color: #5bc0de
  background-color: #fff
  &:hover
    color: #fff
    background-color: #5bc0de

.btn.gmd.btn-success
  color: #5cb85c
  background-color: #fff
  &:hover
    color: #fff
    background-color: #5cb85c

.btn.gmd.btn-warning
  color: #f0ad4e
  background-color: #fff
  &:hover
    color: #fff
    background-color: #f0ad4e

.btn.gmd.btn-danger
  color: #d9534f
  background-color: #fff
  &:hover
    color: #fff
    background-color: #d9534f

.btn.gmd.fab
  border-radius: 50%
  padding: 6px 2px 2px 2px
  z-index: 100

.btn.gmd.fixed
  position: fixed
  right: 30px
  bottom: 30px

.btn.gmd.fab,
.btn.btn-md.gmd.fab,
.btn.btn-lg.gmd.fab
  width: 56px
  height: 56px

.btn.btn-xs.gmd.fab,
.btn.btn-sm.gmd.fab
  width: 40px
  height: 40px

.btn.gmd.fab.btn-primary
  background-color: #337ab7

.btn.gmd.fab.btn-info
  background-color: #5bc0de

.btn.gmd.fab.btn-success
  background-color: #5cb85c

.btn.gmd.fab.btn-warning
  background-color: #f0ad4e

.btn.gmd.fab.btn-danger
  background-color: #d9534f

.btn.gmd.fab .material-icons
  font-size: 24px
  color: #fff