@import '../config/variables'

.bg-dark-primary
	background-color: colors.darkPrimary
.bg-primary
	background-color: colors.primary
.bg-light-primary
	background-color: colors.lightPrimary
.bg-text-icons
	background-color: colors.textIcons
.bg-accent
	background-color: colors.accent
.bg-primary-text
	background-color: colors.primaryText
.bg-secundary-text
  background-color: colors.secundaryText
.bg-divider
  background-color: colors.divider
.bg-background
	background-color: colors.background

.cl-dark-primary
	color: colors.darkPrimary
.cl-primary
	color: colors.primary
.cl-light-primary
	color: colors.lightPrimary
.cl-text-icons
	color: colors.textIcons
.cl-accent
	color: colors.accent
.cl-primary-text
	color: colors.primaryText
.cl-secundary-text
  color: colors.secundaryText
.cl-divider
  color: colors.divider
.cl-background
	color: colors.background

.bd-dark-primary
	border-color: colors.darkPrimary !important
.bd-primary
	border-color: colors.primary !important
.bd-light-primary
	border-color: colors.lightPrimary !important
.bd-text-icons
	border-color: colors.textIcons !important
.bd-accent
	border-color: colors.accent !important
.bd-primary-text
	border-color: colors.primaryText !important
.bd-secundary-text
  border-color: colors.secundaryText !important
.bd-divider
  border-color: colors.divider !important
.bd-background
	border-color: colors.background !important