.dropdown.gmd .dropdown-menu,
.dropup.gmd .dropdown-menu
  padding: 0
  border-width: 0 1 1
  border-color: #fff
  border-radius: 0
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.175)
  box-shadow: 0 2px 4px rgba(0,0,0,.175)
  
.dropdown.gmd .dropdown-menu > li > a,
.dropup.gmd .dropdown-menu > li > a
  padding: 10px 20px
  transition: 0.2s ease background-color
  -moz-transition: 0.2s ease background-color
  -webkit-transition: 0.2s ease background-color
  
.dropdown.gmd .dropdown-header,
.dropup.gmd .dropdown-header
  padding: 10px 20px  

.navbar-nav > li > .dropdown-menu.gmd
  margin-top: 2px
  
gmd-select .dropdown.gmd .dropdown-menu
  top: -2px

gmd-select .dropdown.gmd button.gmd
  text-transform: none
  font-weight: normal
    
gmd-select .dropdown.gmd .placeholder
  color: colors.secundaryText

gmd-select .dropdown.gmd .dropdown-menu li:not(:first-child)
  cursor: pointer

gmd-select .dropdown.gmd .dropdown-menu li:first-child a:hover
  background: none
    
gmd-select .dropdown.gmd .dropdown-menu .active
  color: colors.darkPrimary
  background-color: #f5f5f5
