.dropdown.gmd .dropdown-menu,
.dropup.gmd .dropdown-menu
  padding: 0
  border-width: 0 1 1
  border-color: #fff
  border-radius: 0
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.175)
  box-shadow: 0 2px 4px rgba(0,0,0,.175)

.dropdown.gmd .dropdown-menu > gmd-option > a,
.dropup.gmd .dropdown-menu > gmd-option > a
  padding: 10px 20px
  transition: 0.2s ease background-color
  -moz-transition: 0.2s ease background-color
  -webkit-transition: 0.2s ease background-color

.dropdown.gmd .dropdown-header,
.dropup.gmd .dropdown-header
  padding: 10px 20px

.navbar-nav > gmd-option > .dropdown-menu.gmd
  margin-top: 2px
  z-index: 100000

.dropdown.gmd .dropdown-menu, dropup.gmd .dropdown-menu
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12)!important
  transition: all .4s cubic-bezier(.25,.8,.25,1)
  border-radius: 2px
  border: none

gmd-select .dropdown.gmd .dropdown-menu
  top: -2px
  z-index: 100000
  max-width: 100%
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12)!important
  transition: all .4s cubic-bezier(.25,.8,.25,1)
  border-radius: 2px
  border: none
  width: 100%

gmd-select .dropdown.gmd button.gmd
  text-transform: none
  font-weight: normal
  background: 0 0;
  text-transform: none;
  font-weight: 400;
  outline: 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  padding-bottom: 3px;
  padding-top: 8px;

gmd-select button > span.item-select
  font-size: 1.6rem;

gmd-select .dropdown.gmd button.gmd > .caret
  position: absolute;
  right: 10px;
  top: 15px;

gmd-select .select-option
  max-width: 100%
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden

gmd-select .dropdown.gmd label.floating-dropdown
  position: absolute;
  top: -20px;
  transition: 0.2s ease display;
  -moz-transition: 0.2s ease display;
  -webkit-transition: 0.2s ease display;
  font-weight: 400;
  -webkit-transform: translate3d(0, 6px, 0) scale(0.8);
  transform: translate3d(0, 6px, 0) scale(0.8);
  -webkit-transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-size: 1.6rem;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  order: 1;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
  padding-right: 0;

gmd-select .dropdown.gmd .placeholder
  color: #999
  font-size: 1.6rem

//gmd-select .dropdown.gmd .dropdown-menu gmd-option:not(:first-child)
//  cursor: pointer

.dropdown.gmd .dropdown-menu gmd-option a
  text-decoration: none

.dropdown.gmd .dropdown-menu gmd-option a:hover
  background-color: #f5f5f5

.dropdown.gmd .dropdown-menu .active
  color: colors.darkPrimary
  background-color: #f5f5f5

.dropdown-menu.gmd > gmd-option
  position: relative
  display: block
  cursor: pointer

.dropdown-menu.gmd > gmd-option > a
  display: block
  padding: 3px 20px
  clear: both
  font-weight: 400
  line-height: 1.42857143
  color: #333
  white-space: nowrap

body > div.dropdown ul
  z-index: 9999
