gmd-input

.form-group
  margin-bottom: 30px
  position: relative

.form-control.gmd
  padding: 10px 10px 10px 5px
  display: block
  width: 100%
  border: none
  box-shadow: none
  border-radius: 0
  border-bottom: 1px solid #ccc

.form-control.gmd:focus
  outline: none

//correção preenchido
.form-control.gmd ~ label
  color: #999
  font-weight: normal
  position: relative
  pointer-events: none
  left: 5px
  top: -25px
  transition: 0.2s ease all
  -moz-transition: 0.2s ease all
  -webkit-transition: 0.2s ease all

.form-control.gmd:focus ~ label,
.form-control.gmd.active ~ label
  content: attr(value)
  top:-50px
  font-size:14px
  color: colors.primary

.bar
  position:relative
  display:block
  width:100%
  
.bar:before,
.bar:after
  content: ''
  height: 2px
  width: 0
  bottom: 0 
  position: absolute
  background: colors.darkPrimary 
  transition: 0.2s ease all 
  -moz-transition: 0.2s ease all 
  -webkit-transition: 0.2s ease all

.bar:before
  left: 50%

.bar:after
  right: 50% 

.form-control.gmd:focus ~ .bar:before,
.form-control.gmd:focus ~ .bar:after
  width: 50%
  
.form-control.gmd.ng-invalid ~ .bar:before,
.form-control.gmd.ng-invalid ~ .bar:after
  background-color: #d9534f

.form-control.gmd.ng-invalid
  border-color: #d9534f
   
.form-control.gmd.ng-invalid ~ label
  color: #d9534f

.checkbox label
  padding-left: 24px

input[type="checkbox"].gmd:before,
input[type="checkbox"].gmd:after
  transition: all .3s
  
input[type="checkbox"].gmd:after
  margin-top: -5px
  margin-left: -4px
  display: inline-block
  content: ' '
  width: 20px
  height: 20px
  border: 2px solid #999
  border-radius: 2px
  background-color: #fff
  
input[type="checkbox"].gmd:checked:after
  background-color: colors.primary
  border-color: colors.primary
  
input[type="checkbox"].gmd:checked:before
  transform: rotate(45deg);
  position: absolute;
  left: 3px;
  top: -3px;
  width: 6px;
  height: 13px;
  border-width: 2px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-color: #fff
  content: '';