.form-group
  margin-bottom: 30px
  position: relative

.form-control.gmd
  display: block
  width: 100%
  padding: 6px 0
  border: none
  box-shadow: none
  border-radius: 0
  border-bottom: 1px solid #ccc
  background-color: transparent

.form-control.gmd:focus
  outline: none

.form-control.gmd ~ label
  color: #999
  font-weight: normal
  position: relative
  pointer-events: none
  left: 0px
  top: -54px
  transition: 0.2s ease all
  -moz-transition: 0.2s ease all
  -webkit-transition: 0.2s ease all
  -webkit-transform: translate3d(0,28px,0) scale(1);
  transform: translate3d(0,28px,0) scale(1);
  -webkit-transition: -webkit-transform .4s cubic-bezier(.25,.8,.25,1);
  transition: -webkit-transform .4s cubic-bezier(.25,.8,.25,1);
  transition: transform .4s cubic-bezier(.25,.8,.25,1);
  transition: transform .4s cubic-bezier(.25,.8,.25,1),-webkit-transform .4s cubic-bezier(.25,.8,.25,1);
  max-width: 100%;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  order: 1;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
  padding-right: 0;
  z-index: 1;
  font-size: 1.6rem;

.form-control.gmd:focus ~ label,
.form-control.gmd.active ~ label,
.form-control.gmd[placeholder] ~ label,
.form-control.gmd ~ label.fixed
  content: attr(value)
  top:-54px
  -webkit-transform: translate3d(0,6px,0) scale(.80);
  transform: translate3d(0,6px,0) scale(.80);
  -webkit-transition: width .4s cubic-bezier(.25,.8,.25,1),-webkit-transform .4s cubic-bezier(.25,.8,.25,1);
  transition: width .4s cubic-bezier(.25,.8,.25,1),-webkit-transform .4s cubic-bezier(.25,.8,.25,1);
  transition: transform .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1);
  transition: transform .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1),-webkit-transform .4s cubic-bezier(.25,.8,.25,1);

.bar
  position:relative
  display:block
  width:100%

.bar:before,
.bar:after
  content: ''
  height: 2px
  width: 0
  bottom: 0
  position: absolute
  background: colors.darkPrimary
  transition: 0.2s ease all
  -moz-transition: 0.2s ease all
  -webkit-transition: 0.2s ease all

.bar:before
  left: 50%

.bar:after
  right: 50%

.form-control.gmd:focus ~ .bar:before,
.form-control.gmd:focus ~ .bar:after
  width: 50%

.form-control.gmd.ng-invalid.ng-touched ~ .bar:before,
.form-control.gmd.ng-invalid.ng-touched ~ .bar:after
  background-color: #d9534f

.form-control.gmd.ng-invalid.ng-touched
  border-color: #d9534f

.form-control.gmd + .list-errors
  padding: 4px 0 0 0
  position: absolute
  background-color: #fff

.form-control.gmd + .list-errors > li
  color: #d9534f
  list-style: none

.form-control.gmd + .list-errors > li > label
  font-weight: 400

.checkbox label,
.radio label
  padding-left: 24px

.checkbox input[type="checkbox"].gmd,
.radio input[type="radio"].gmd
  visibility: hidden

.checkbox input[type="checkbox"].gmd ~ .ripple-effect
  position: absolute
  top: -15px
  left: -15px
  width: 50px
  height: 50px
  z-index: 200

.checkbox input[type="checkbox"].gmd + .box:before,
.checkbox input[type="checkbox"].gmd + .box:after,
.radio input[type="radio"].gmd + .box:before,
.radio input[type="radio"].gmd + .box:after
  transition: all .3s

.checkbox input[type="checkbox"].gmd + .box:after
  position: absolute;
  left: 4px;
  top: 3px;
  margin-top: -5px
  margin-left: -4px
  display: inline-block
  content: ' '
  width: 20px
  height: 20px
  border: 2px solid #999
  border-radius: 2px
  background-color: #fff
  z-index: 1

.checkbox input[type="checkbox"].gmd:checked + .box:after
  background-color: colors.primary
  border-color: colors.primary

.checkbox input[type="checkbox"].gmd:checked + .box:before
  transform: rotate(45deg);
  position: absolute;
  left: 7px;
  top: 0px;
  width: 6px;
  height: 13px;
  border-width: 2px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-color: #fff
  content: '';
  z-index: 2


.radio input[type="radio"].gmd + .box:after
  position: absolute;
  left: 4px;
  top: 4px;
  margin-top: -5px
  margin-left: -4px
  display: inline-block
  content: ' '
  width: 20px
  height: 20px
  border: 2px solid colors.primary
  border-radius: 50%
  background-color: #fff
  z-index: 1

.radio input[type="radio"].gmd + .box:before
  position: absolute;
  left: 5px;
  top: 4px;
  width: 10px
  height: 10px
  border-radius: 50%
  background-color: colors.primary
  content: '';
  z-index: 2
  -webkit-transform: scale3d(0, 0, 1);
  transform: scale3d(0, 0, 1);

.radio input[type="radio"].gmd:checked + .box:before
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);

gmd-select label
  color: #999

gmd-select .btn.gmd
  padding: 6px 0
  color: #555

.gmd.breadcrumb
  display: flex;
  align-items: center;
  background: #FFFFFF;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
  min-height: 50px;

.gmd.breadcrumb > li
  cursor: pointer;
  position: relative;
  overflow: hidden;

.gmd.breadcrumb > li.active > a
  color: colors.primary;

.gmd.breadcrumb > li > a
  color: #666666;
  text-transform: uppercase;

.gmd.breadcrumb > li > a > i,
.gmd.breadcrumb > li > a > span,
.gmd.breadcrumb > li > a > em
  vertical-align: bottom;

.gmd.breadcrumb > li > a:hover
  outline: none;
  text-decoration: none;
  color: colors.secundaryText;

gmd-select-search .input-group-addon
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 0;
  border-radius: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;

.word-required
  color: rgb(221,44,0);
