.form-group
  margin-bottom: 30px
  position: relative

.form-control.gmd
  display: block
  width: 100%
  padding: 6px 0
  border: none
  box-shadow: none
  border-radius: 0
  border-bottom: 1px solid #ccc
  background-color: transparent

.form-control.gmd:focus
  outline: none

//correção preenchido
.form-control.gmd ~ label
  color: #999
  font-weight: normal
  position: relative
  pointer-events: none
  left: 0px
  top: -25px
  transition: 0.2s ease all
  -moz-transition: 0.2s ease all
  -webkit-transition: 0.2s ease all

.form-control.gmd:focus ~ label,
.form-control.gmd.active ~ label
  content: attr(value)
  top:-50px
  font-size:14px

.bar
  position:relative
  display:block
  width:100%
  
.bar:before,
.bar:after
  content: ''
  height: 2px
  width: 0
  bottom: 0 
  position: absolute
  background: vars.colors.darkPrimary 
  transition: 0.2s ease all 
  -moz-transition: 0.2s ease all 
  -webkit-transition: 0.2s ease all

.bar:before
  left: 50%

.bar:after
  right: 50% 

.form-control.gmd:focus ~ .bar:before,
.form-control.gmd:focus ~ .bar:after
  width: 50%
  
.form-control.gmd.ng-invalid.ng-touched ~ .bar:before,
.form-control.gmd.ng-invalid.ng-touched ~ .bar:after
  background-color: #d9534f

.form-control.gmd.ng-invalid.ng-touched
  border-color: #d9534f

.form-control.gmd + .list-errors
  padding: 4px 0 0 0
  position: absolute
  background-color: #fff

.form-control.gmd + .list-errors > li
  color: #d9534f
  list-style: none

.form-control.gmd + .list-errors > li > label
  font-weight: 400

.checkbox label,
.radio label
  padding-left: 24px

.checkbox input[type="checkbox"].gmd,
.radio input[type="radio"].gmd
  visibility: hidden

.checkbox input[type="checkbox"].gmd ~ .ripple-effect
  position: absolute
  top: -15px
  left: -15px
  width: 50px
  height: 50px
  z-index: 200

.checkbox input[type="checkbox"].gmd + .box:before,
.checkbox input[type="checkbox"].gmd + .box:after,
.radio input[type="radio"].gmd + .box:before,
.radio input[type="radio"].gmd + .box:after
  transition: all .3s
  
.checkbox input[type="checkbox"].gmd + .box:after
  position: absolute;
  left: 4px;
  top: 3px;
  margin-top: -5px
  margin-left: -4px
  display: inline-block
  content: ' '
  width: 20px
  height: 20px
  border: 2px solid #999
  border-radius: 2px
  background-color: #fff
  z-index: 1000
  
.checkbox input[type="checkbox"].gmd:checked + .box:after
  background-color: vars.colors.primary
  border-color: vars.colors.primary
  
.checkbox input[type="checkbox"].gmd:checked + .box:before
  transform: rotate(45deg);
  position: absolute;
  left: 7px;
  top: 0px;
  width: 6px;
  height: 13px;
  border-width: 2px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-color: #fff
  content: '';
  z-index: 10000
  
  
.radio input[type="radio"].gmd + .box:after
  position: absolute;
  left: 4px;
  top: 4px;
  margin-top: -5px
  margin-left: -4px
  display: inline-block
  content: ' '
  width: 20px
  height: 20px
  border: 2px solid vars.colors.primary
  border-radius: 50%
  background-color: #fff
  z-index: 1000

.radio input[type="radio"].gmd + .box:before
  position: absolute;
  left: 5px;
  top: 4px;
  width: 10px
  height: 10px
  border-radius: 50%
  background-color: vars.colors.primary
  content: '';
  z-index: 10000
  -webkit-transform: scale3d(0, 0, 1);
  transform: scale3d(0, 0, 1);
  
.radio input[type="radio"].gmd:checked + .box:before
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);

gmd-select label
  color: #999

gmd-select .btn.gmd
  padding: 6px 0
  color: #555