

.gumga-layout nav.gl-nav
    overflow: visible !important;
    
.gumga-layout nav.gl-nav icon-shrink
    display: none;

.gumga-layout nav.gl-nav[open-on-hover].closed:not(:hover) icon-shrink,
.gumga-layout nav.gl-nav:not([open-on-hover]).closed icon-shrink
    display: block;

.gumga-layout nav.gl-nav[open-on-hover].closed:not(:hover) header,
.gumga-layout nav.gl-nav:not([open-on-hover]).closed header
    width: 64px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px rgba(0,0,0,0.28);

    icon-shrink
        img
            width: 52px;

.gl-menu-chevron
    position: absolute;
    display: none;
    padding-top: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;

    li
        height: 52px;
        display: flex;
        align-items: center;

    li > i 
        pointer-events: none;
        -webkit-transition: transform 0.3s ease;
        transition: transform 0.3s ease;
        font-size: 28px;
        transform: rotate(180deg);

.gumga-layout nav.gl-nav[open-on-hover].closed:not(:hover),
.gumga-layout nav.gl-nav:not([open-on-hover]).closed
    width: 64px;

    .gl-menu-chevron
        display: block;

    header > figure,
    li.header,
    li.divider,
    li > a > span,
    li > a > i[data-ng-if="item.children"],
    input[data-ng-model="$ctrl.search"]
        display: none;

    gl-menu ul[menu] li
        padding: 13px 0 13px 22px;
        padding-bottom: 0;
        padding-top: 0;

    gl-menu ul[menu] li > a
        padding-bottom: 13px;
        padding-top: 13px;

.gumga-layout nav.gl-nav.closed[open-on-hover]:not(:hover) gl-menu ul[menu] li:hover,
.gumga-layout nav.gl-nav:not([open-on-hover]).closed gl-menu ul[menu] li:hover
    background: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,0.28);
    width: 250px;

    a
        display: flex;
        align-items: center;

        span
            display: block;
            padding: 0px 0 0 24px;

.gl-menu-chevron.possiblyFixed
    display: block;

.gl-menu-chevron.unfixed
    display: block;

    li 
        justify-content: flex-end;
        i 
            transform: rotate(0deg);
            margin-right: 15px;