.nav-pills.gmd > li > a
  border-radius: 0
  text-transform: uppercase
  font-weight: 600
  color: vars.colors.secundaryText

.nav-pills.gmd > li > a,
.nav-pills.gmd > li.active > a
  border-width: 0 0 1px 0

.nav-pills.gmd > li > a:hover
  border-color: #eee #eee #ddd;
  background-color: #fff

.nav-pills.gmd > li.active > a
  color: vars.colors.primaryText
  background-color: #fff

.nav-pills.gmd > li > a:before,
.nav-pills.gmd > li > a:after
  position: absolute
  content: ''
  height: 2px
  width: 0
  left: 0
  bottom: -2px
  background-color: vars.colors.primary 

.nav-pills.gmd > li.active > a:after
  width: 100%
  transition: 0.4s ease all
  -moz-transition: 0.4s ease all
  -webkit-transition: 0.4s ease all
  