darkPrimary   = #009688
primary       = #1eb7ad
lightPrimary  = #ffffff
textIcons     = #1eb7ad
accent        = #607D8B
primaryText   = #000000
secundaryText = #7d7d7d
divider       = #BDBDBD
background    = #F5F5F5