darkPrimary   = #2f4050
primary       = #233646
lightPrimary  = #337ab7
textIcons     = #FFFFFF
accent        = #536DFE
primaryText   = #212121
secundaryText = #757575
divider       = #BDBDBD
background    = #F5F5F5
