darkPrimary   = #d32f2f
primary       = #f44336
lightPrimary  = #ffcdd2
textIcons     = #ffffff
accent        = #536df3
primaryText   = #212121
secundaryText = #757575
divider       = #bdbdbd
background    = #F5F5F5