darkPrimary   = #BD3347
primary       = #E53D57
lightPrimary  = #ffffff
textIcons     = #FAD8DD
accent        = #607D8B
primaryText   = #000000
secundaryText = #7d7d7d
divider       = #BDBDBD
background    = #F5F5F5