darkPrimary   = #5D5D5D
primary       = #3D3D3D
lightPrimary  = #F5F5F5
textIcons     = #212121
accent        = #009688
primaryText   = #212121
secundaryText = #757575
divider       = #BDBDBD
background    = #F5F5F5