@import '../config/variables'

main > aside
  order: main.aside.order
  width: main.aside.width
  background-color: main.aside.backgroundColor
  
@media (max-width: screen.sm)
  main > aside
    display none
    