@import '../config/variables'

.gumga-layout footer.gl-footer
  z-index: vars.layer.footer
  padding: vars.footer.padding
  height: vars.footer.height
  color: vars.footer.color
  font-size: vars.footer.fontSize
  background-color: vars.footer.backgroundColor

.gumga-layout footer.gl-footer a
  color: vars.footer.navColor

.gumga-layout footer.gl-footer a:focus,
.gumga-layout footer.gl-footer a:hover
  color: vars.footer.navColorHover

.gumga-layout footer.gl-footer.fixed
  position: fixed
  right: 0
  bottom: 0
  left: 0
