@import '../config/variables'

.gumga-layout > header
  position: relative
  
.gumga-layout > header .navbar
  height: header.height
  margin-bottom: 0px
  border-radius: 0px
  background-color: colors.primary
  transition: all 200ms ease-out
  
.gumga-layout > header > nav .navbar-brand
  color: colors.textIcons

.gumga-layout > header > nav
  background-color: transparent
  
.gumga-layout > header .nav > li > a
  color: colors.textIcons
  
.gumga-layout > header .nav > li > a:focus,
.gumga-layout > header .nav > li > a:hover
  color: colors.primaryText
  background-color: colors.primary

.gumga-layout > header .nav .open > a,
.gumga-layout > header .nav .open > a:focus,
.gumga-layout > header .nav .open > a:hover
  color: colors.textIcons
  background-color: colors.darkPrimary
  border-color: transparent

.gumga-layout > header .nav.notifications > li > a
  padding-top: 15px
  padding-bottom: 6px

.gumga-layout > header .nav ul.dropdown-menu
  font-size: 1.6rem

.gumga-layout > header .navbar .search .form-control.gmd
  color: #fff
  background-color: transparent

.searchbar
  position: absolute
  width: 100%
  opacity: 0
  display: flex
  height: header.height
  background-color: #fff
  transition: all 200ms ease-out

.searchbar.searchShow
  z-index: 5
  opacity: 1
  
.searchbar .icon
  margin: 7.5px 15px
  width: 40px
  
.searchbar .icon.back
  order: 1
  
.searchbar .query
  flex: 1
  order: 2
  margin: 7.5px 0

.searchbar .icon.search
  order: 3

header .searchbar .searchbar-nav a
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;


