@import '../config/variables'

body
  margin: 0px
  padding: 0px
  color: vars.colors.primaryText
  background-color: vars.body.backgroundColor

a
  color: vars.colors.primaryText


@import '../config/fonts'
@import '../icons/material-design'
@import '../components/index'
@import 'header'
@import 'main'
@import 'footer'
@import '../components/colors'
@import '../animations/slide'
