@import '../config/variables'

body
  margin: 0px
  padding: 0px
  color: colors.primaryText
  background-color: body.backgroundColor

a
  color: colors.primaryText


@import '../config/fonts'
@import '../icons/material-design'
@import '../components/index'
@import 'header'
@import 'main'
@import 'footer'