@import '../config/variables'

.gumga-layout nav.gl-nav
  width: vars.nav.width
  background-color: vars.nav.backgroundColor
  z-index: vars.layer.nav
  position: fixed
  top: 0
  bottom: 0
  left: 0
  overflow-x: auto
  visibility: hidden
  -webkit-transform: translateX(-(vars.nav.width))
  transform: translateX(-(vars.nav.width))
  -webkit-transition: all .25s cubic-bezier(0.4,0.0,0.2,1), visibility 0s linear 0s;
  transition: all .25s cubic-bezier(0.4,0.0,0.2,1), visibility 0s linear 0s;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.28);
  box-shadow: 0 0 4px rgba(0,0,0,.28);
  
.gumga-layout nav.gl-nav::-webkit-scrollbar
  width: 8px

.gumga-layout nav.gl-nav::-webkit-scrollbar-track
  background-color: vars.nav.scrollTrack
 
.gumga-layout nav.gl-nav::-webkit-scrollbar-thumb
  background-color: vars.nav.scrollThumb
  border-radius: 3px


.gumga-layout nav.gl-nav.collapsed
  visibility: visible
  -webkit-transform: translateX(0)
  transform: translateX(0)

.gumga-layout nav.gl-nav > header figure
    
.gumga-layout nav.gl-nav > header img
  width: 100%

.gumga-layout nav.gl-nav ul.menu
  border-bottom: 1px solid vars.colors.divider
  
@media (max-width: vars.screen.sm)
  .gumga-layout nav.gl-nav
    bototm: 0px

gl-menu ul
  padding: 0
  list-style: none
  
gl-menu ul > li
  margin-top: 6px 0 0
  padding: 8px 0 8px 16px
  &:hover
    background-color: vars.nav.menu.navBackgroundColorHover

gl-menu ul > li.header,
gl-menu ul > li.header > a
  &:hover
    color: vars.colors.primaryText
    background-color: transparent
  
gl-menu ul > li.header > a
  &:hover
    color: vars.nav.menu.headerColor
  
gl-menu ul li.header > a
  font-size: vars.nav.menu.headerSize
  color: vars.nav.menu.headerColor
  
gl-menu ul li a > .material-icons
  font-size: 18px

gl-menu ul li > a
  width: 100%
  display: inline-block
  font-size: 16px
  line-height: 1
  color: vars.nav.menu.navColor
  &:hover
    color: vars.nav.menu.navColorHover
    text-decoration: none

gl-menu ul li > a.active
  color: vars.nav.menu.navColorActive

gl-menu ul li.divider
  height: 1px
  margin: 9px 0
  padding: 0
  overflow: hidden
  background-color: vars.colors.divider
