fonts = {
  url: 'https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700,900',
  family: '"Roboto", sans-serif',
  size: 14px,
  h1: (color vars.colors.primary) (font-size 56px)
  h2: (color black) (font-size 45px)
  h3: (color black) (font-size 34px)
  h4: (color black) (font-size 24px)
  h5: (color black) (font-size 20px)
  h6: (color black) (font-size 16px)
  p: (color black) (font-size 14px)
}
