fonts = {
  roboto: true,
  size: 1.3rem
}

if fonts.roboto
  @import 'https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700,900';

if fonts.roboto
  body
    font-size: fonts.size
    if fonts.roboto
      font-family: 'Roboto', sans-serif
    