// Material Design Font Icons
iconsMaterialDesignFont = true

//
// Material Design Icon SVG
//

// Action
iconsMaterialDesignSvgAction = false

// Alert
iconsMaterialDesignSvgAlert = false

// Audio e Vídeo
iconsMaterialDesignSvgAv = false

// Communication
iconsMaterialDesignSvgCommunication = false

// Content
iconsMaterialDesignSvgContent = false

// Device
iconsMaterialDesignSvgDevice = false

// Editor
iconsMaterialDesignSvgEditor = false

// File
iconsMaterialDesignSvgFile = false

// Hardware
iconsMaterialDesignSvgHardware = false

// Image
iconsMaterialDesignSvgImage = false

// Maps
iconsMaterialDesignSvgMaps = false

// Navigation
iconsMaterialDesignSvgNavigation = false

// Notification
iconsMaterialDesignSvgNotification = false

// Places
iconsMaterialDesignSvgPlaces = false

// Social
iconsMaterialDesignSvgSocial = false

// Toggle
iconsMaterialDesignSvgToggle = false



//
// Material Design Icon PNG
//

// Action
iconsMaterialDesignPngAction = false

// Alert
iconsMaterialDesignPngAlert = false

// Audio e Vídeo
iconsMaterialDesignPngAv = false

// Communication
iconsMaterialDesignPngCommunication = false

// Content
iconsMaterialDesignPngContent = false

// Device
iconsMaterialDesignPngDevice = false

// Editor
iconsMaterialDesignPngEditor = false

// File
iconsMaterialDesignPngFile = false

// Hardware
iconsMaterialDesignPngHardware = false

// Image
iconsMaterialDesignPngImage = false

// Maps
iconsMaterialDesignPngMaps = false

// Navigation
iconsMaterialDesignPngNavigation = false

// Notification
iconsMaterialDesignPngNotification = false

// Places
iconsMaterialDesignPngPlaces = false

// Social
iconsMaterialDesignPngSocial = false

// Toggle
iconsMaterialDesignPngToggle = false
