pathFontMaterialDesign = '../node_modules/material-design-icons/iconfont/'
pathIconMaterialDesignSvg = '../../../node_modules/material-design-icons/sprites/svg-sprite/'
pathIconMaterialDesignPng = '../../../node_modules/material-design-icons/sprites/css-sprite/'
