pathFontMaterialDesign = '../bower_components/material-design-icons/iconfont/'
pathIconMaterialDesignSvg = '../bower_components/material-design-icons/sprites/svg-sprite/'
pathIconMaterialDesignPng = '../bower_components/material-design-icons/sprites/css-sprite/'
