// Palera de cores que será usada
@import '../palettes/gumga'

colors = {
  'darkPrimary': darkPrimary
  'primary': primary,
  'lightPrimary': lightPrimary,
  'textIcons': textIcons,
  'accent': accent,
  'primaryText': primaryText,
  'secundaryText': secundaryText,
  'divider': divider,
  'background': background
}

screen = {
  sm: 768px
}

body = {
  backgroundColor: background
}

header = {
  height: 52px
}

main = {
  content: {
    order: 2
    backgroundColor: transparent
  },
  nav: {
    order: 1,
    width: 250px
    backgroundColor: #fff
    borderColor: #ddd
  },
  aside: {
    order: 3,
    width: 300px
    backgroundColor: transparent
  },
}

footer = {
  height: 50px
}