// Palera de cores que será usada
@import '../palettes/gumga'

colors = {
  'darkPrimary': darkPrimary
  'primary': primary,
  'lightPrimary': lightPrimary,
  'textIcons': textIcons,
  'accent': accent,
  'primaryText': primaryText,
  'secundaryText': secundaryText,
  'divider': divider,
  'background': background
}

screen = {
  sm: 768px
}

layer = {
  header: 1000
  nav: 1000
  aside: 1000
  main: 1000
}

body = {
  backgroundColor: background
}

header = {
  height: 52px
}

main = {
  content: {
    order: 2
    backgroundColor: transparent
  }
}
nav = {
  order: 1
  width: 250px
  backgroundColor: #fff
}
aside = {
  order: 3
  width: 300px
  backgroundColor: #fff
}

footer = {
  height: 50px
}